In [136]:
import pandas as pd
import json
import numpy as np

In [72]:
with open('Unemployement.json') as f:
    Runemp = json.load(f)

In [75]:
#unemp = pd.read_csv('Unemployement.csv')
#unemp1= pd.read_json(Runemp)
runemp1 = pd.json_normalize(Runemp)

In [129]:
runemp1

,1990.Annual.Alabama.Unemployment Rate.Autauga County,1990.Annual.Alabama.Unemployment Rate.Baldwin County,1990.Annual.Alabama.Unemployment Rate.Barbour County,1990.Annual.Alabama.Unemployment Rate.Bibb County,1990.Annual.Alabama.Unemployment Rate.Blount County,1990.Annual.Alabama.Unemployment Rate.Bullock County,1990.Annual.Alabama.Unemployment Rate.Butler County,1990.Annual.Alabama.Unemployment Rate.Calhoun County,1990.Annual.Alabama.Unemployment Rate.Chambers County,1990.Annual.Alabama.Unemployment Rate.Cherokee County,...,2016.September.Wyoming.Unemployment Rate.Niobrara County,2016.September.Wyoming.Unemployment Rate.Park County,2016.September.Wyoming.Unemployment Rate.Platte County,2016.September.Wyoming.Unemployment Rate.Sheridan County,2016.September.Wyoming.Unemployment Rate.Sublette County,2016.September.Wyoming.Unemployment Rate.Sweetwater County,2016.September.Wyoming.Unemployment Rate.Teton County,2016.September.Wyoming.Unemployment Rate.Uinta County,2016.September.Wyoming.Unemployment Rate.Washakie County,2016.September.Wyoming.Unemployment Rate.Weston County
0,6.5,5.2,7.8,9.1,6.3,12.4,12.8,7.1,7.2,9.9,...,3.0,3.6,4.0,3.8,5.4,5.5,2.0,5.1,3.8,4.7

In [362]:
rdf1 = pd.DataFrame(data=None, index=None, columns=['Year','Timeframe', 'State','Unemployement','County'], dtype=None, copy=False)

In [156]:
rdf1

Empty DataFrame
Columns: [Year, Timeframe, State, Unemployement, County]
Index: []

In [359]:
rcolumns = np.arange(922291, 956601)
rcolumns1 = np.arange(0, 641916)
rcolumns2 = np.arange(2600, 30000)
rcolumns3 = np.arange(5400, 31400)
rcolumns4 = np.arange(10000, 43000)
rcolumns5 = np.arange(14000, 46000)
rcolumns6 = np.arange(19000, 51000)
rcolumns7 = np.arange(23000, 56000)
rcolumns8 = np.arange(27000, 60000)
rcolumns9 = np.arange(31000, 63000)

In [360]:
runemp1.drop(unemp1.columns[rcolumns], axis=1, inplace=True)

In [360]:
runemp1.drop(unemp1.columns[rcolumns1], axis=1, inplace=True)

In [360]:
runemp1.drop(unemp1.columns[rcolumns2], axis=1, inplace=True)

In [360]:
runemp1.drop(unemp1.columns[rcolumns3], axis=1, inplace=True)

In [360]:
runemp1.drop(unemp1.columns[rcolumns4], axis=1, inplace=True)

In [360]:
runemp1.drop(unemp1.columns[rcolumns5], axis=1, inplace=True)

In [360]:
runemp1.drop(unemp1.columns[rcolumns6], axis=1, inplace=True)

In [360]:
runemp1.drop(unemp1.columns[rcolumns7], axis=1, inplace=True)

In [360]:
runemp1.drop(unemp1.columns[rcolumns8], axis=1, inplace=True)

In [360]:
runemp1.drop(unemp1.columns[rcolumns9], axis=1, inplace=True)

In [361]:
runemp1

,2008.Annual.Alabama.Unemployment Rate.Autauga County,2008.Annual.Alabama.Unemployment Rate.Baldwin County,2008.Annual.Alabama.Unemployment Rate.Barbour County,2008.Annual.Alabama.Unemployment Rate.Bibb County,2008.Annual.Alabama.Unemployment Rate.Blount County,2008.Annual.Alabama.Unemployment Rate.Bullock County,2008.Annual.Alabama.Unemployment Rate.Butler County,2008.Annual.Alabama.Unemployment Rate.Calhoun County,2008.Annual.Alabama.Unemployment Rate.Chambers County,2008.Annual.Alabama.Unemployment Rate.Cherokee County,...,2015.September.Wyoming.Unemployment Rate.Niobrara County,2015.September.Wyoming.Unemployment Rate.Park County,2015.September.Wyoming.Unemployment Rate.Platte County,2015.September.Wyoming.Unemployment Rate.Sheridan County,2015.September.Wyoming.Unemployment Rate.Sublette County,2015.September.Wyoming.Unemployment Rate.Sweetwater County,2015.September.Wyoming.Unemployment Rate.Teton County,2015.September.Wyoming.Unemployment Rate.Uinta County,2015.September.Wyoming.Unemployment Rate.Washakie County,2015.September.Wyoming.Unemployment Rate.Weston County
0,5.1,4.6,8.8,5.8,4.7,10.5,8.5,5.7,14.4,5.7,...,2.4,3.3,3.5,3.4,4.5,4.2,2.3,4.6,3.3,2.9

In [363]:
r = 0

while r < 31975:
    rdata = runemp1.columns[r].split('.')
    rvalue = runemp1[runemp1.columns[r]][0]
    rnewRow = pd.Series([rdata[0],rdata[1],rdata[2],rvalue,rdata[4]], index = rdf1.columns)
    rdf1 = rdf1.append(rnewRow,ignore_index=True)
    r = r + 1

In [364]:
rdf1

       Year  Timeframe    State  Unemployement             County
0      2008     Annual  Alabama            5.1     Autauga County
1      2008     Annual  Alabama            4.6     Baldwin County
2      2008     Annual  Alabama            8.8     Barbour County
3      2008     Annual  Alabama            5.8        Bibb County
4      2008     Annual  Alabama            4.7      Blount County
...     ...        ...      ...            ...                ...
31970  2015  September  Wyoming            4.2  Sweetwater County
31971  2015  September  Wyoming            2.3       Teton County
31972  2015  September  Wyoming            4.6       Uinta County
31973  2015  September  Wyoming            3.3    Washakie County
31974  2015  September  Wyoming            2.9      Weston County

[31975 rows x 5 columns]

In [365]:
rdf1.to_csv('PartialClean.csv')

In [382]:
rdf2 = rdf1[rdf1.Timeframe == 'Annual']

In [384]:
rdf2

       Year Timeframe    State  Unemployement             County
0      2008    Annual  Alabama            5.1     Autauga County
1      2008    Annual  Alabama            4.6     Baldwin County
2      2008    Annual  Alabama            8.8     Barbour County
3      2008    Annual  Alabama            5.8        Bibb County
4      2008    Annual  Alabama            4.7      Blount County
...     ...       ...      ...            ...                ...
30436  2015    Annual  Wyoming            4.6  Sweetwater County
30437  2015    Annual  Wyoming            3.8       Teton County
30438  2015    Annual  Wyoming            4.9       Uinta County
30439  2015    Annual  Wyoming            4.0    Washakie County
30440  2015    Annual  Wyoming            3.3      Weston County

[21719 rows x 5 columns]

In [386]:
rdf2.County = rdf2.County.str.strip('County')

In [387]:
rdf2.reset_index(inplace=True)

In [388]:
rdf2

       index  Year Timeframe    State  Unemployement       County
0          0  2008    Annual  Alabama            5.1     Autauga
1          1  2008    Annual  Alabama            4.6     Baldwin
2          2  2008    Annual  Alabama            8.8     Barbour
3          3  2008    Annual  Alabama            5.8        Bibb
4          4  2008    Annual  Alabama            4.7      Blount
...      ...   ...       ...      ...            ...          ...
21714  30436  2015    Annual  Wyoming            4.6  Sweetwater
21715  30437  2015    Annual  Wyoming            3.8       Teton
21716  30438  2015    Annual  Wyoming            4.9       Uinta
21717  30439  2015    Annual  Wyoming            4.0    Washakie
21718  30440  2015    Annual  Wyoming            3.3      Weston

[21719 rows x 6 columns]

In [389]:
rdf1.to_csv('CleanedUnemployement.csv')